html {
    background-color: rgb(56, 54, 54);
    height: 100%;
}

header h1 {
    margin-bottom: 30px;
}

body {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    background-color: rgb(56, 54, 54);
    color: white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    position: relative;
    top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    font-size: 28px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: white;
    letter-spacing: 1.5px;
}

.color-container {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 1px white;
    border-radius: 15px;
    margin-bottom: 15px;
}
  
.color-swatch {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.color-swatch:hover {
    transform: scale(1.05);
}
  
.color-pink {
    width: 200px;
    height: 200px;
    background-color: pink;
    border: solid 1px pink;
    border-radius: 15px;
}
  
.color-skyblue {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    border: solid 1px skyblue;
    border-radius: 15px;
}
  
.color-seagreen {
    width: 200px;
    height: 200px;
    background-color: seagreen;
    border: solid 1px seagreen;
    border-radius: 15px;
}
  
.color-orange {
    width: 200px;
    height: 200px;
    background-color: orange;
    border: solid 1px orange;
    border-radius: 15px;
}
  
.color-name {
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    height: 25px;
    margin-top: 10px;
}
  
.color-code {
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    height: 25px;
}

.fonts-container {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 1px white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.oswald {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    width: 450px;
    height: 80%;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.oswald:hover {
    transform: scale(1.05);
}

.font-name {
    text-align: left;
    text-decoration: underline;
}

.playfair-display {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    width: 450px;
    height: 80%;
    display: inline-block;
    text-align: left;
}

.playfair-display:hover {
    transform: scale(1.05);
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.stylings-container {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 1px white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.style-box {
    text-align: left;
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
}

.style-box h1 {
    font-family: "Oswald";
    font-size: 26px;
    font-weight: 700px;
}

.style-box h2 {
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 500px;
    
}

p span {
    font-family: "Playfair Display", serif;
}

ul {
    padding-left: 15px;
}

.style-box:hover {
    transform: scale(1.05);
}

footer {
    height: 100px
}
